{:paths   ["src/cljs" "resources" "target"]
 :aliases {:dev { :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                             "-Dclojure.main.report=stderr"]}
           :fig {:main-opts ["-m" "figwheel.main"]}}

 :deps {
        com.bhauman/figwheel-main       {; broken when modules are used together with a bundle target
                                         #_#_     :mvn/version "0.2.14"
                                         #_#_     :local/root  "../../figwheel-main"
                                         :git/url "https://github.com/daveduthie/figwheel-main.git"
                                         :sha     "092f1a85c75e57ff7f155b337fa1f71f338634e1"
                                         }
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        org.clojure/clojure             {:mvn/version "1.10.3"}
        org.clojure/core.async          {:mvn/version "1.4.627"}
        org.clojure/clojurescript       {:mvn/version "1.10.893"}
        lilactown/helix                 {:mvn/version "0.1.4"}
        }}
